@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mandaic&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans Mandaic', sans-serif;
}
body{
  background-color: #55A2A7;
}

h1, h2{
  color: black;
}