.homeContent{
    display: flex;
    justify-content: center;
}

.homeInfoContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #10BAEF;
    padding: 5%;
    margin: 10%;
    gap: 20%;
    border-radius: 40px;
}

.homeInfoContent p {
    color: rgb(231, 231, 231);
}
